<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-more row row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
            <div><h4>28 <br> States Covered</h4></div>
            <div> <h4>130+ <br> Destinations</h4></div>
            <br> <br>
            <div><h4>8 <br> Categories</h4></div>
            <div><h4><i class="fa-solid fa-infinity" style="color: rgb(15, 15, 16);"></i><br>Memories to Make</h4></div>
        </div>
        <div class="f-info-brand">&copy; TravelBharat private Limited</div>
        <p>Your digital travel encyclopedia of India.Explore state-wise destinations, heritage sites, naturak wonders and spiritual landmarks etc accross incredible Indian subcontinent.</p>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp;
            <a href="/terms">Terms</a>
        </div>
        <br> <br>
    </div>
</footer>
