    <% layout("/layouts/boilerplate") %>
<div>
    <div class="home-top-img" style="height:5rem;">
        <img class=" show-img" style="height:10rem;" src="https://bikesonrent.in/uploads/2025/10/top-famous-tourist-attractions-to-visit-in-india.webp" alt="home-image">
        <div class="img-body">
        <h4>EXPLORE INDIA STATE BY STATE</h4>
        <H2><b>DISCOVER THE SOUL OF  <br> INCREDIBLE INDIA</b></H2>
        <H5>Your digital travel encyclopedia - explore heritage, <br>nature,spirituality and adventure across every <br>state and union territory of India.</H3>
        <a href="/states" class="btn btn-outline-warning"><B>Explore States</B><b>-></b></a>
        </div>
    </div>

    <br><br>
    <div>
        <div class="center-text">
        <h2>Explore by Category</h2>
        <p> From ancient heritage sites to thrilling adventures -- discover india your way. </p>
        </div>
    </div>

    <div class="category-container row row-cols-lg-3 row-cols-md-3 row-cols-sm-2">
        <div class="heritage category">
            <a  class="" href="/category/heritage">
            <i class="fa-solid fa-landmark home-i"></i>
            <br> <b>Heritage</b> <br>
            <P>Forts, historical places & monuments</P>
            </a>
        </div>

        <div class="nature category">
            <a   href="/category/nature">
            <i class="fa-solid fa-tree home-i"></i>
            <br><b>Nature</b> <br>
            <p>Beautiful natural places</p>
            </a>
        </div>
        <div class="religious category">
            <a href="/category/religious">
            <i class="fa-solid fa-gopuram home-i"></i>
            <br><b>Religious</b> <br>
             <p> Temples,goddess & god, shrines </p>
             </a>
        </div>
        <div class="adventure category">
            <a  href="/category/adventure">
            <i class="fa-regular fa-compass home-i"></i>
            <br><b>Adventure</b> <br>
            <p>Trekking,rafting & thrills</p>
            </a>
        </div>
        <div class="beach category">
            <a   href="/category/beach">
            <i class="fa-solid fa-umbrella home-i"></i>
            <br><b>beach</b> <br>
            <p>oceans, sunrise, sunset</p>
            </a>
        </div>
        <div class="mountain category">
            <a   href="/category/mountain">
            <i class="fa-solid fa-mountain home-i"></i>
            <br><b>Mountain</b> <br>
            <P>Huge mountains & views</P>
            </a>
        </div>
        <div class="wildlife category">
            <a   href="/category/wildlife">
            <i class="fa-solid fa-horse home-i"></i>           
             <br><b>Wildlife</b> <br>
             <p>Lots of animals, flora, fauna, and birdlife</p> 
            </a>
        </div>
        <div class="hill-station category">
        <a  href="/category/hill_station">
        <i class="fa-solid fa-hill-avalanche home-i"></i>            
        <br><b>Hill Station</b> <br>
        <p>lakes, waterfalls, and misty landscapes</p>
        </a>
        </div>

    </div>

</div>
